{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Enter your F1 free practice experience" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Add your content here -->
      <h1>
        {{ pageName }}
      </h1>

      <form class="form" action="/free-practice-answer" method="post">

        <p>
          In the past 3 years, how many Formula 1 free practice sessions have you completed, driving
          at least 100km in each session?
        </p>

        {% from "input/macro.njk" import input %}        

        {# TODO: prepare error messages for not-answered and invalid-value #}
        {{ input({
          label: {
            text: "Number of sessions completed"
          },
          id: "free-practice-sessions",
          name: "free-practice-sessions",
          classes: "nhsuk-input--width-10"
        }) }}

        {% from "button/macro.njk" import button %}

        {{ button({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
