{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Have you recently completed 300km of testing?" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form class="form" action="/returning-driver-answer" method="post">

        {% from "radios/macro.njk" import radios %}

        {{ radios({
          idPrefix: "recent-testing",
          name: "recent-testing",
          value: data['recent-testing'],
          errorMessage: {
            text: "Select one of the options to continue"
          } if data['errors']['not-answered'] else null,
          hint: {
            text: "The testing must have been performed in the past 180 days, in an F1 car designed to the current regulations."
          },
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {% from "button/macro.njk" import button %}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
