{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "What was your finishing position?" %}

{# Build the set of radio items according the points available for the current championship #}
{% set radioItems = [] %}

{% for p in positionsAndPoints %}
  {% set positionText = (p.position | rank) if (p.points > 0) else (p.position | rank + " or worse") %}
  {% set pointOrPoints = " point" if (p.points === 1) else " points" %}

  {% set radioItems = (radioItems.push({
    value: p.position,
    text: positionText,
    hint: {
      text: "Earns " + p.points + pointOrPoints
    }
  }), radioItems) %}
{% endfor %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        {{ pageName }}
      </h1>
      
      <form class="form" action="/select-championship-position-answer" method="post">        
        {% from "radios/macro.njk" import radios %}

        {{ radios({
          idPrefix: "championship-position",
          name: "championship-position",
          value: data['championship-position'],
          errorMessage: {
            text: "Select one of the options to continue"
          } if data['errors']['not-answered'] else null,
          fieldset: {
            legend: {
              text: "Championship: " + data['championship'] + ", " + data['championship-year']
            }
          },
          items: radioItems
        }) }}

        {% from "button/macro.njk" import button %}

        {{ button({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
